include ../../mixins/Elements_stampa.pug       
.b-d-event.py-5
  .container
    .row
      +event-details('Arts Teaching','July 25','9:00 PM','imgs/events/4.png','Dear Mr. President, There are too many states nowadays. Please, eliminate three. P.S. I am not a crackpot. You don’t win friends with salad. I’m a Spalding Gray in a Rick Dees world. D’oh. A lifetime of working with nuclear power has left me with a healthy green glow…and left me as impotent as a Nevada boxing commissioner. No children have ever meddled with the Republican Party and lived to tell about it.','+ GOOGLE CALENDER','+ ICAL EXPORT','300$','Education','https://xoothemes.com/','Famous Amos','542-389-5609','cookies@aol.com','wikipedia.com')    
