include ../../mixins/Elements_stampa.pug       
.b-d-event.py-5
  .container
    .row
      +event-details('Business Development Event','July 20','8:00 PM','imgs/events/1.png','Well, I got better. Ah, now we see the violence inherent in the system! The swallow may fly south with the sun, and the house martin or the plover may seek warmer climes in winter, yet these are not strangers to our land. It’s only a model. It’s only a model.','+ GOOGLE CALENDER','+ ICAL EXPORT','200$','Business','https://xoothemes.com/','Famous Amos','542-389-5609','cookies@aol.com','wikipedia.com')    
