include ../../mixins/Elements_stampa.pug     
      
.evCard.py-5.mt-4.m-sm-0
  .container
    .row
      +eventCard('imgs/events/1.png','200$','July 20 @ 8:00 pm','Business Development','b-d-event.html')
      +eventCard('imgs/events/2.png','150$','Mar 14 @ 5:00 pm','Vector ART','vectorart.html')
      +eventCard('imgs/events/3.png','500$','Jun 10 @ 10:00 pm','Company Needs','companyNeeds.html')
      +eventCard('imgs/events/4.png','300$','July 25 @ 9:00 pm','Arts Teaching','arts.html')
      +eventCard('imgs/events/5.png','340$','Feb 13 @ 6:00 pm','3D Modeling','3dmodeling.html')
      +eventCard('imgs/events/6.png','150$','Apr 21 @ 11:00 pm','Trading Teaching','trading.html')
      
