include ../../mixins/Elements_stampa.pug       
.b-d-event.py-5
  .container
    .row
      +event-details('Vector Art Event','Mar 14','5:00 PM','imgs/events/2.png','Dear Mr. President, There are too many states nowadays. Please, eliminate three. P.S. I am not a crackpot. You don’t win friends with salad. I’m a Spalding Gray in a Rick Dees world. D’oh. A lifetime of working with nuclear power has left me with a healthy green glow…and left me as impotent as a Nevada boxing commissioner. No children have ever meddled with the Republican Party and lived to tell about it.','+ GOOGLE CALENDER','+ ICAL EXPORT','150$','Education','https://xoothemes.com','Sammy Sosa','1-800-569-3489','baseball@hotmail.com','www.icanhascheezburger.com')    
