include ../mixins/Elements_stampa.pug
      
div.blog.py-5.overflow-hidden
  .container
    h2.d-block.w-100.text-center.font-weight-bold From The Blog
    .row.mt-5
      +blogCard('imgs/blog/1.jpg','PHP Advance Course In Just 119$')
      +blogCard('imgs/blog/2.jpg','How to Improve Your Communication Skill')
      +blogCard('imgs/blog/3.jpg','Top 10 Books You Must Read in 2017')
      +blogCard('imgs/blog/4.jpg','Is Big Data is New Big Career Path?')
      
