include ../mixins/Elements_stampa.pug

+programsCard('fab fa-atlassian rounded-circle','SHORT COURSES')
+programsCard('fas fa-brain rounded-circle','BACHELOR\'S PROGRAMS')
+programsCard('fas fa-bullhorn rounded-circle','MASTERS AND PHD PROGRAMS')
            
