include ../mixins/Elements_stampa.pug
.choose-university.pt-5.pb-5
  .container
    h2.font-weight-bold.text-center.mt-3.mb-3 WHY CHOOSE OUR UNIVERSITY
    .row.mt-5
      div.university-desc.col-sm-12.col-xl-6
        .row
          +choose_university('fas fa-basketball-ball fa-1x','Modern Courses')
          +choose_university('fas fa-bowling-ball fa-1x','Guaranteed Career')
          +choose_university('fas fa-cannabis fa-1x','Affordable Costs')
          +choose_university('fas fa-carrot fa-1x','High-profile Faculties')
          +choose_university('fas fa-compact-disc fa-1x','Research Programs')
          +choose_university('fab fa-fedora fa-1x','Cultural Events')
          
