include ../mixins/Elements_stampa.pug        
.data.pt-5.pb-5.position-relative
  .container
    .row
      +datas("fas fa-users",'Enrolled Students','first-data')
      +datas("fas fa-trophy",'Education Awards','second-data')
      +datas("far fa-gem",'Certified Teachers','third-data')
      +datas("fas fa-flask",'Library and Labs','fourth-data')
      
      
