include ../mixins/Elements_stampa.pug
.feature-courses.pt-5.pb-5
  .container
    .row
      h2.mb-5.font-weight-bold.w-100.text-center FEATURED COURSES
      +f_c_c(10,90,'imgs/fcourses/1.png','imgs/fcourses/t1.png','Swzan Mark','Micro Biology')
      +f_c_c(20,100,'imgs/fcourses/2.png','imgs/fcourses/t2.png','Paulo Mir','Health Sciences')
      +f_c_c(15,250,'imgs/fcourses/3.png','imgs/fcourses/t3.png','Sawty Pill','Business Management')
      +f_c_c(15,120,'imgs/fcourses/4.png','imgs/fcourses/t4.png','Markovic Alan','Computer Science')
      +f_c_c(10,140,'imgs/fcourses/5.png','imgs/fcourses/t5.png','Marcos Juan','Global Economy')
      +f_c_c(20,90,'imgs/fcourses/6.png','imgs/fcourses/t6.png','Maichael Jee','Diving into Big Data')
      
      
