include ../mixins/Elements_stampa.pug            
.featured-faculty-members.pt-5.pb-5
  .container
    h2.text-center.font-weight-bold.mb-5 FEATURED FACULTY MEMBERS
    .row
      +member-card('imgs/featured-faculty-members/1.jpg','Jen Maroney','English Teacher')
      +member-card('imgs/featured-faculty-members/2.jpg','Julia Benjama','Math Teacher')
      +member-card('imgs/featured-faculty-members/3.jpg','Sarah Robert','Programmer')
