.footer-info.py-5
  .container
    .row
      div.contact-info.col-12.col-md-6.col-lg-3
        h5.text-white CONTACT INFO
        p.text-muted.mt-5 A powerhouse of cutting-edge education, research & teaching in The World
        ul.list-unstyled.mt-4
          li.my-3
            i.fas.fa-home.fa-1x.mr-2
            |Sydney NSW 2052, Australia
            
          li.my-3
            i.fas.fa-phone.fa-1x.mr-2
            |+61 2 9385 1000
            
          li.my-3
            i.far.fa-envelope.fa-1x.mr-2
            |hello@brightuniversity.edu    
            
      div.latest-news.col-12.col-md-6.col-lg-3
        h5.text-white LATEST NEWS
        div.mt-5
          img(src='imgs/footer/1.jpg').float-left.mr-3
          a(href='#').text-decoration-none.mb-2.d-block How to Study Online Courses Effectively
          span.d-block.w-100 November 15, 2016
          
        div.mt-5
          img(src='imgs/footer/2.jpg').float-left.mr-3
          a(href='#').text-decoration-none.mb-2.d-block How to Study Online Courses Effectively
          span.d-block.w-100 November 15, 2016  

      div.course-list.col-12.col-md-6.col-lg-3.pl-4.mt-lg-0.mt-5
        h5.text-white CONTACT INFO
        ul.list-unstyled.mt-5
          li.my-3
            a(href='#').text-decoration-none Health Sciences
            
          li.my-3
            a(href='#').text-decoration-none Advance Javascript – ES6

          li.my-3
            a(href='#').text-decoration-none Android App Development
            
          li.my-3
            a(href='#').text-decoration-none Photoshop Design Like A PRO
            
          li.my-3
            a(href='#').text-decoration-none WordPress for Intermediate
          
          li.my-3
            a(href='#').text-decoration-none iOS App Development          
                

      div.image-gallery.col-12.col-md-6.col-lg-3.mt-lg-0.mt-5
        h5.text-white IMAGE GALLERY
        div.d-flex.justify-content-between.flex-wrap.mt-lg-5.mt-2
          img(src='imgs/footer/3.jpg').float-left.mt-5.mt-lg-2
          img(src='imgs/footer/4.jpg').float-left.mt-5.mt-lg-2
          img(src='imgs/footer/5.jpg').float-left.mt-5.mt-lg-2
          img(src='imgs/footer/6.jpg').float-left.mt-3.mt-lg-2
          img(src='imgs/footer/7.jpg').float-left.mt-3.mt-lg-2
          img(src='imgs/footer/8.jpg').float-left.mt-3.mt-lg-2
          
