footer.py-2
  .container
    .row.align-items-center.flex-column.flex-md-row.text-center.text-lg-left
      div.col-lg-6.col-12 © Copyright Mego 2019
      
      ul.col-lg-6.col-12.list-inline.mt-4.text-lg-right
        li.list-inline-item.w-15.text-center
          a(href='#').d-block.w-100.h-100.text-white
            i.fab.fa-facebook-f
        li.list-inline-item.w-15.text-center 
          a(href='#').d-block.w-100.h-100.text-white
            i.fab.fa-twitter
        li.list-inline-item.w-15.text-center 
          a(href='#').d-block.w-100.h-100.text-white
            i.fab.fa-linkedin-in
        li.list-inline-item.w-15.text-center 
          a(href='#').d-block.w-100.h-100.text-white
            i.fab.fa-google-plus-g
        li.list-inline-item.w-15.text-center 
          a(href='#').d-block.w-100.h-100.text-white
            i.fab.fa-youtube
                  
        
