.free-training.pt-5.pb-5.position-relative
  .container
    .row
      .timing.col-lg-6
        h2.font-weight-bold.mt-5.text-white GET FREE TRAINING ON <br> BUSINESS DEVELOPMENT<br> BY JOHN SMITH
        span.text-muted.mt-4.mb-4.d-block It's limited seating! Hurry Up
        ul.d-flex.list-unstyled.mt-5.justify-content-between
          li.border.border-white.pt-4.pb-4.text-center.text-white 
            span#days.font-weight-bold
            br 
            |DAYS
          li.border.border-white.pt-4.pb-4.text-center.text-white
            span#hours.font-weight-bold
            br 
            |HOURS
          li.border.border-white.pt-4.pb-4.text-center.text-white 
            span#minutes.font-weight-bold
            br 
            |MINUTES
          li.border.border-white.pt-4.pb-4.text-center.text-white 
            span#seconds.font-weight-bold
            br 
            |SECONDS     
      .sign-up.col-lg-6.pl-5
        form.d-flex.flex-column.bg-white.p-4.ml-auto
          h2.mx-auto.mt-3.font-weight-bold SIGN UP NOW
          span.mx-auto.mt-3.mb-3.text-muted GET FREE COURSES
          input(type='text' placeholder='Your Name').mt-3.border-0.mx-auto
          input(type='text' placeholder='Email').mt-4.border-0.mx-auto
          input(type='text' placeholder='Phone').mt-4.border-0.mx-auto 
          button.mt-5.mb-3.ml-3.border-0.pt-2.pb-2 GOT IT !   
