header.pt-2.pb-2.d-none.d-lg-block
  .container
    .row
      .location.col-4
        i.fa.fa-map-marker.mr-2
        |Sydney NSW 2052, Australia  
      
      .contactalogin.col-8.text-right 
        i.fa.fa-phone.mr-2.ml-3
        |01158685662
        
        i.fa.fa-envelope.mr-2.ml-3
        |mohamed@yahoo.com    
        
        i.fa.fa-user.mr-2.ml-3
        a(href='login.html') Login 
        |/ 
        a(href='register.html') Register  
