.news.py-5
  .container
    span SUBSCRIBE
    .row
      h2.col-lg-7.col-sm-12.font-weight-bold.mt-3 To Our Newsletter
      div.col-lg-5.col-sm-12.mt-3.d-flex.justify-content-between.flex-md-row.flex-column
        input(type='email' placeholder='Your Email Address').border-0.px-2.py-2.shadow-sm.w-100.w-md-75
        input(type='submit' value='SUBSCRIBE').border-0.py-2.text-white.mt-4.mt-md-0.w-50.w-md-25.mx-auto
      
      
