div.programs.position-relative
  .container.pt-5.pb-5
    .row.d-flex.mt-4.mb-5
      h3.text-center.w-100.font-weight-bold.mb-5 A POWERHOUSE OF CUTTING-EDGE<br> EDUCATION, RESEARCH & TEACHING IN THE WORLD
      include cards1.pug
