div(id='slider' class='carousel slide d-none d-md-block main-slider')
  
  ul.carousel-indicators
    li(data-target='#slider' data-slide-to='0').active
    li(data-target='#slider' data-slide-to='1')
    li(data-target='#slider' data-slide-to='2')
    li(data-target='#slider' data-slide-to='3')
    li(data-target='#slider' data-slide-to='4') 
         
  .carousel-inner.h-100
    .carousel-item.active.h-100
      img(src='imgs/slider/one.png' class='w-100 d-block')
      .carousel-caption.d-none.d-sm-block
        p Ready to Launch – School, College, University or Course Website
        h1 YOUR IDEAS WILL BE HEARD & SUPPORTED  
        button.btn.mt-5.rounded-0.mr-3.py-2 CONTACT
        button.btn.mt-5.rounded-0.border.text-white.py-2 VIEW
        
    .carousel-item.h-100
      img(src='imgs/slider/two.png' class='w-100 d-block')
      .carousel-caption.d-none.d-sm-block
        p Ready to Launch – School, College, University or Course Website
        h1 EXCELLENT AND FRIENDLY FACULTY MEMBERS  
        button.btn.mt-5.rounded-0.mr-3.py-2 CONTACT 
        button.btn.mt-5.rounded-0.border.text-white.py-2 VIEW
         
    .carousel-item.h-100
      img(src='imgs/slider/three.png' class='w-100 d-block')
      .carousel-caption.d-none.d-sm-block
        p Ready to Launch – School, College, University or Course Website
        h1 YOUR IDEAS WILL BE HEARD & SUPPORTED  
        button.btn.mt-5.rounded-0.mr-3.py-2 CONTACT   
        button.btn.mt-5.rounded-0.border.text-white.py-2 VIEW
        
    .carousel-item.h-100
      img(src='imgs/slider/four.png' class='w-100 d-block')
      .carousel-caption.d-none.d-sm-block
        p Ready to Launch – School, College, University or Course Website
        h1 YOUR IDEAS WILL BE HEARD & SUPPORTED  
        button.btn.mt-5.rounded-0.mr-3.py-2 CONTACT     
        button.btn.mt-5.rounded-0.border.text-white.py-2 VIEW
          
    .carousel-item.h-100
      img(src='imgs/slider/five.png' class='w-100 d-block')
      .carousel-caption.d-none.d-sm-block
        p Ready to Launch – School, College, University or Course Website
        h1 YOUR IDEAS WILL BE HEARD & SUPPORTED  
        button.btn.mt-5.rounded-0.mr-3.py-2 CONTACT
        button.btn.mt-5.rounded-0.border.text-white.py-2 VIEW
        
    a.carousel-control-prev(href='#slider' data-slide='prev').slide-dir.ml-3
      span.carousel-control-prev-icon
      span.sr-only Previous
      
    a.carousel-control-next(href='#slider' data-slide='next').slide-dir.mr-3
      span.carousel-control-next-icon
      span.sr-only Next      
