.intro.py-5
  .container
    .row
      .desc.col-12.col-md-6
        h3.font-weight-bold Welcome To Bright University
        p.my-4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias laudantium nemo eveniet excepturi, suscipit amet illo autem quasi, sequi illum quisquam doloremque est magni accusamus quo, officia voluptates temporibus cum. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        ul.p-0.mt-5
          each val in ["Narwhal quinoa sriacha organic.","Artisan paleo flannel, polaroid umami franzen.","Sriracha vegan typewriter tofu gentrify.","Artisan paleo flannel, polaroid umami franzen."]
            li.list-unstyled.my-3
              a(href='#').text-decoration-none.text-muted
                i.fas.fa-check.mr-3
                span= val 
      .img.col-12.col-md-6
        img(src='imgs/blog/5.png' alt='Intro').w-100.h-100
    
