doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content="width=device-width, initial-scale= 1" )
    title Sass And Pug
    include mixins/stylesheets.pug 
  body
    // Start header
    include components/header.pug 
    // End Header
    
    // Start Navbar
    include components/nav.pug
    // End Navbar
    
    // Start Slider
    include components/slider.pug
    // End Slider
    
    // Start Programs
    include components/programs.pug
    // End Programs
    
    // Start Welcome
    include components/welcome.pug
    // End Welcome
    
    // Start Welcome
    include components/featured-courses.pug
    // End Welcome
    
    // Start Free Training
    include components/free-training.pug
    // End Free Training
    
    // Start Choose University
    include components/choose-university.pug
    // End Choose University
    
    // Start Data
    include components/data.pug
    // End Data
    
    // Start Featured Faculty Members
    include components/featured-faculty-members.pug
    // End Featured Faculty Members  
    
    // Start Testimonial
    include components/testimonial.pug
    // End Testimonial 
    
    
    // Start Blog
    include components/blog.pug
    // End Blog
    
    // Start news
    include components/news.pug
    // End news 
    
    // Start Footer Info
    include components/footer-info.pug
    // End Footer Info 
    
    // Start Footer
    include components/footer.pug
    // End Footer 
    
    // Start Back To Top button
    include components/back-to-top.pug
    // End Back To Top button
    
  
    
    include mixins/bsScripts.pug  
    
