include ../../mixins/Elements_stampa.pug            
.featured-faculty-members.pt-5.pb-5
  .container
    h2.text-center.font-weight-bold.mb-5 FEATURED INSTRUCTORS
    .row
      +member-card('imgs/home2/featured-instructors/1.jpg','Jen Maroney','English Teacher')
      +member-card('imgs/home2/featured-instructors/2.jpg','Julia Benjama','Math Teacher')
      +member-card('imgs/home2/featured-instructors/3.jpg','Sarah Robert','Programmer')
