.home2-panner.py-5.position-relative
  .container.h-100
    .row.justify-content-center.pt-5
      h1.text-white.font-weight-bold.text-center.my-3.w-100 230+ Courses Offered by <br>Experts,<br> Start Learning Today!
      .input-group.w-75.mt-5
        input(type='search' placeholder='Search For Something').form-control.rounded-0.pt-4.pb-4
        .input-group-append.d-flex.justify-content-center.py-4
          i.fas.fa-search
            
      ul.list-inline.mt-4.w-100.text-center
        li.list-inline-item.mx-3
          i.fas.fa-users.mr-2
          span.text-white 15 teacher
          
        li.list-inline-item.mx-3
          i.fab.fa-wpforms.mr-2
          span.text-white 36 lesson
                      
        li.list-inline-item.mx-3.mt-3.mt-sm-0
          i.fas.fa-graduation-cap.mr-2
          span.text-white 24 students
          
        li.list-inline-item.mx-3.mt-3.mt-sm-0
          i.fas.fa-book.mr-2
          span.text-white 14 courses
