include ../../mixins/Elements_stampa.pug
div.programs.position-relative
  .container.pt-5.pb-5
    .row.d-flex.mt-4.mb-5
      h3.text-center.w-100.font-weight-bold.mb-5 LEARN LATEST TECHNOLOGIES FROM INDUSTRY LEADERS <br>FROM AROUND THE WORLD
      +programsCard('fab fa-atlassian rounded-circle','Hi-Quality Courses')
      +programsCard('fas fa-brain rounded-circle','Interactive Materials')
      +programsCard('fas fa-bullhorn rounded-circle','Expert Instructors')
