include ../../mixins/Elements_stampa.pug
.choose-university.pt-5.pb-5
  .container
    h2.font-weight-bold.text-center.mt-3.mb-3 Why Choose Our Courses
    .row.mt-5
      div.university-desc.col-sm-12.col-xl-6
        .row
          +choose_university('fas fa-basketball-ball fa-1x','Industry Oriented Courses')
          +choose_university('fas fa-bowling-ball fa-1x fa-1x','Experienced Instructors')
          +choose_university('fas fa-cannabis fa-1x','24/7 Support')
          +choose_university('fas fa-carrot fa-1x fa-1x','Free Course Materials')
          +choose_university('fas fa-compact-disc fa-1x fa-1x','Career Help')
          +choose_university('fab fa-fedora fa-1x','Skill Certification')
