div.parteners.py-5
  .container
    ul.list-unstyled
      .row
        li.p-3.col-sm-6.col-md-2
          img(src='imgs/home2/parteners/1.jpg').w-100.h-100
  
        li.p-3.col-sm-6.col-md-2
          img(src='imgs/home2/parteners/2.jpg').w-100.h-100
  
        li.p-3.col-sm-6.col-md-2
          img(src='imgs/home2/parteners/3.jpg').w-100.h-100
  
        li.p-3.col-sm-6.col-md-2
          img(src='imgs/home2/parteners/4.jpg').w-100.h-100
  
        li.p-3.col-sm-6.col-md-2
          img(src='imgs/home2/parteners/5.jpg').w-100.h-100
  
        li.p-3.col-sm-6.col-md-2
          img(src='imgs/home2/parteners/6.jpg').w-100.h-100
      
