include ../../mixins/Elements_stampa.pug 
.single-blog
  .container
    .row
      main.col-12.col-lg-8.my-5        
        +common-author-blog('imgs/blog/2.1.jpg','PHP Advance Course In Just 119$','September 18, 2017April 18, 2018','Programming')
        +common-author-blog('imgs/blog/1.1.jpg','How to Improve Your Communication Skill','July 3, 2017November 20, 2018','Online Education','my-4')
        +common-author-blog('imgs/blog/3.1.jpg','Top 10 Books You Must Read in 2017','July 3, 2017July 8, 2017',' College','my-4')
        +common-author-blog('imgs/blog/4.1.jpg','Is Big Data is New Big Career Path?','July 3, 2017July 8, 2017','Programming','my-4')
        +common-author-blog('imgs/blog/5.1.jpg','Learn Python Within 30 Days','January 11, 2017October 14, 2017','Programming','my-4')
        +common-author-blog('imgs/blog/6.1.jpg','How to Learn a Foreign Language in 3 Steps','January 11, 2017July 8, 2017',' Uncategorized','my-4')
        +common-author-blog('imgs/blog/7.jpg','How to Study Online Courses Effectively','November 15, 2016July 8, 2017',' Online Education','my-4')
              
      +blog-aside
