.about-institute.py-5
  .container
    .row
      div.col-12.col-md-6
        img(src='imgs/home3/1.jpg').w-100.h-100
        
      div.col-12.col-md-6.pl-4
        span.text-muted.mt-5.d-block ABOUT INSTITUTE
        h2.font-weight-bold.my-3 Committed to Excellence
        p.mt-4 Greenville identifies and develops the intellectual and creative talents of a diverse group of students. Within supportive and caring college preparatory environment, students are encouraged to achieve their finest in academics, athletics and the arts.
        p.my-4 Our ultimate goal is to teach students to live humanely within the community in order to prepare them to meet the demands and responsibilities of the future in the broader world.
        button.text-white.py-3.px-4.border-0 LEARN MORE
      
