.apply.py-5
  .container
    .next-student.shadow.py-5.px-5
      .row
        .text.col-12.col-lg-8.text-center.text-lg-left
          span.text-muted Click here to apply
          h2.font-weight-bold.mt-2 Be The Next Bright Student
          
        
        .button.col-12.col-lg-4.d-flex.align-items-center.justify-content-center.justify-content-lg-end
          button.px-5.py-2.border-0.text-white.mt-4 APPLY NOW  
