include ../../mixins/Elements_stampa.pug        
.data.py-5.position-relative
  .container.py-5
    h2.text-white.text-center.mb-5 SOME IMPORTANT FACTS ABOUT US
    .row.mb-5
      +datas("fas fa-users",'Enrolled Students','first-data')
      +datas("fas fa-trophy",'Education Awards','second-data')
      +datas("far fa-gem",'Certified Teachers','third-data')
      +datas("fas fa-flask",'Library and Labs','fourth-data')
    div.my-4.text-center
      button.border-0.py-2.px-4.mr-1.text-white.mt-3 CONTACT US
      button.py-2.px-4.ml-1.text-white.border.mt-3 ABOUT US  
      
