.home3-panner.position-relative.d-flex.align-items-center.py-5
  .container.text-white
    span.d-block.mt-4.text-muted AN AWARD WINNING INSTITUTE
    h1.font-weight-bold.my-4.pr-5 START LEARNING TENDING <br>TECHNOLOGIES
    span.d-block Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
    span.d-block.my-3 eiusmod tempor incididunt ut labore dolore
    button.mt-4.border-0.py-2.px-3.text-white VIEW COURSES
