include ../../mixins/Elements_stampa.pug  

.home3-feature-courses.feature-courses.py-5
  .container
    h2.my-5.font-weight-bold.w-100.text-center FEATURED COURSES
    .owl-carousel
      +f_c_c_slider(10,20,'imgs/home2/featured-courses/1.jpg','imgs/home2/featured-courses/t1.png','Swzan Mark','Web Programming')
      +f_c_c_slider(5,100,'imgs/home2/featured-courses/2.jpg','imgs/home2/featured-courses/t2.png','Paulo Mir','EcmaScript 6')
      +f_c_c_slider(10,200,'imgs/home2/featured-courses/3.jpg','imgs/home2/featured-courses/t3.png','Sawty Pill','Programming Skills')
      +f_c_c_slider(7,120,'imgs/home2/featured-courses/4.jpg','imgs/home2/featured-courses/t4.png','Markovic Alan','Android')
      +f_c_c_slider(20,250,'imgs/home2/featured-courses/5.jpg','imgs/home2/featured-courses/t5.png','Marcos Juan','Swift')
      +f_c_c_slider(15,300,'imgs/home2/featured-courses/6.jpeg','imgs/home2/featured-courses/t6.png','Maichael Jee','React.js')
    button.d-block.mx-auto.my-4.py-3.px-4.border-0.text-white VIEW ALL COURSES
