include ../../mixins/Elements_stampa.pug

.fac-features.py-5
  .container.text-center
    .row.justify-content-center
      +programsCard('fas fa-medal fa-3x mt-3','World-class Instructors')
      +programsCard('fas fa-vials fa-3x mt-3','Well Equipped Labs')
      +programsCard('fas fa-place-of-worship fa-3x mt-3','Best Infrastructure')
