.video-overlay.position-fixed.d-flex.justify-content-center.align-items-center#intro-video
  div.embed-responsive.embed-responsive-21by9
    video(src="imgs/home3/video.mp4" allowfullscreen controls).embed-responsive-item 
      
.short-intro.py-5
  .container
    .row
      .video.col-12.col-md-6.p-5
        div.position-relative.overflow-hidden#video-poster
          img(src='imgs/home3/2.png').w-100.h-100
        
      .desc.col-12.col-md-6.py-5.text-white
        span A SHORT INTRO
        h2.font-weight-bold.my-3 About Our Vision
        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.  
        button.text-white.py-3.px-5.border.mt-4 GET STARTED NOW
        
