$main-color: #ff4f57;

$text-color1: #656565;

$text-color2: #333;

$heading-color: #212121;

$white-color: #FFF;

$hovlink1: #E7E6E6;

$f7: #f7f7f7;

$footer-info-back: #22272b;

$footer-text: #aaa;

$last-footer: #1d2023;

$gold-color: #f2b827
