include ../../mixins/Elements_stampa.pug     
.single-product.py-5.overflow-hidden
  .container
    .row
      main.col-12.col-lg-8
        .row
          .product-show.col-12.bg-white.p-4.shadow-sm
            .row.m-0
              .product-slider.col-12.col-lg-7.overflow-hidden.p-0
                ul.current-product.list-unstyled.d-flex.overflow-hidden
                  +sliderImage('imgs/events/1.png','zoom-1','zoom_01','active')
                  +sliderImage('imgs/events/2.png','zoom-2','zoom_02','')
                  +sliderImage('imgs/events/3.png','zoom-3','zoom_03','')
                  +sliderImage('imgs/events/4.png','zoom-4','zoom_04','')
                  +sliderImage('imgs/events/5.png','zoom-5','zoom_05','')  
                                
                ul.list-unstyled.overflow-hidden.mt-2
                  .row
                    +slidePoint('imgs/events/1.png','#zoom-1','active')
                    +slidePoint('imgs/events/2.png','#zoom-2','')
                    +slidePoint('imgs/events/3.png','#zoom-3','')
                    +slidePoint('imgs/events/4.png','#zoom-4','')
                    +slidePoint('imgs/events/5.png','#zoom-5','')
                                                    
              .product-desc.col-12.col-lg-5.pl-3
                h2.font-weight-bold Patient Ninja
                span.h5.mb-3.mt-3.d-block $35.00
                p.text-muted Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
                
                .number.mt-4.text-center.text-xl-left
                  input(type='number' min='1' max='5').border-0.px-2.py-3.w-100
                  button.border-0.py-3.px-4.text-white.mt-3 ADD TO CART
                  
                hr.mt-4      
                p.mb-1  SKU: HOODIE-PATIENT-NINJA Categories: 
                a(href='#').text-decoration-none Clothing, Hoodies    
                
          .s-p-desc.col-12.bg-white.p-4.shadow-sm.mt-4
            ul.nav.nav-tabs
              +pans('#desc','active','Description')
              +pans('#reviews','','Reviews')
              
            .tab-content 
              +tabs2('desc','Description','active')
              .tab-pane.fade.show(id='reviews').pt-3
                h4.font-weight-bold.mt-3 Reviews
                span.my-4.d-block There are no reviews yet.
                p Be the first to review “Patient Ninja” <br> Your email address will not be published. Required fields are marked *
                address.mt-4.mb-1 Overall Rating
                ul.list-unstyled.d-flex.star-rating.mt-0
                  -for(var x = 1; x <= 5; x++)
                    li &#9733;
                form
                  label.d-block.mb-3 Your review *
                  textarea.w-100.border-0.shadow-sm.px-3.py-2
                    
                  label.d-block.mt-4.mb-3 Name *
                  input(type='text').w-100.border-0.shadow-sm.py-2.px-3 
                  
                  label.d-block.mt-3.mb-3 Email *
                  input(type='text').w-100.border-0.shadow-sm.py-2.px-3 
                  
                  button.border-0.py-3.px-5.text-white.mt-4 SUBMIT
                
          .related-products.col-12.p-4.mt-4
            h3.mb-4.font-weight-bold Related products
            .products-con.d-flex.mt-5
              .row.justify-content-between
                +related_Products('imgs/related-products/1.jpg','Happy Ninja','$35.00')  
                +related_Products('imgs/related-products/2.jpg','Ship Your Idea','$20.00')  
                +related_Products('imgs/related-products/3.jpg','Woo Ninja','$10.00')    
                
      aside.col-12.col-lg-4.ml-auto
        +asideProducts        
        +asideProCat
      
